body{
    margin: 0;
}

nav {
    display: flex; /* use flexbox for alignment */
    justify-content: space-between; /* align elements to opposite sides */
    background-color: #333; /* set background color */
    color: white;
}  

/* footer part */

.nav-footer{
    display: block;
    margin-bottom: 1.3rem;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer h6 {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    display: inline;
}